@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}